main {
    margin:2%;
    background-color: aliceblue !important;
    border-radius: 5rem;
    padding:2%
}
section {
    height:fit-content;
}

.introduction {
    height: 50vh;
}

h2 {
    margin-bottom: 3% !important;
}

img{
    border-radius:50%;
    width:300px;
    height:300px;
    float:left;
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 47%;
    margin-bottom: 5%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2%;
}

svg {
    width: 30px;
}

a.btn.btn-primary {
    color: black;
    background-color: transparent;
    border-color: lightseagreen;}