body {
  background-color: #111 !important;
}
main {
  margin: 2%;
  background-color: #111 !important;
  display: flex;
}
section {
  padding: 2%;
  color: white;
}

.introduction {
  width: 20%;
  position: sticky;
  margin-right: 1%;
  top: 1px;
  border: 2px solid #e1c4ff;
  border-radius: 2rem;
}

.projects {
  width: 80%;
  position: inherit;
}

h1 {
  margin-bottom: 3% !important;
  margin-left: 3% !important;
}

.introduction {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.introduction * {
  margin-bottom: 6%;
}

#svg {
  margin-top: 10%;
  margin-bottom: 0%;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  width: 100% !important;
  position: relative;
}

h2 {
  margin-bottom: 3% !important;
}

.introduction img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  margin-bottom: 5%;
  background: black !important;
  color: white !important;
  border-radius: 5rem;
  border: 2px solid white !important;
  box-shadow: 4px 5px #88888847;
}

a.btn.btn-primary,
a {
  color: white !important;
  background-color: transparent;
  border-color: #e1c4ff;
  text-decoration: none !important;
}

.btn.btn-primary {
  background-color: transparent;
  border-color: #e1c4ff;
}

.btn:hover {
  background-color: rgb(29, 29, 29);
}

.card-title {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

svg {
  width: 24px;
  fill: white;
  height: 24px;
  margin-bottom: 2%;
}

ul li {
  list-style: none;
  margin-bottom: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1c4ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1c4ff;
}

@media screen and (max-width: 971px) {
  main {
    padding: 4%;
    display: flex;
    flex-direction: column;
  }

  .introduction,
  .container1 {
    flex-direction: column;
  }

  .introduction {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
    position: relative;
  }
  .card {
    width: unset;
  }
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .introduction #img {
    text-align: center;
    margin-bottom: 3%;
    margin: auto;
  }

  h1 {
    text-align: center;
  }

  .projects {
    width: 100%;
  }
}
